.Container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:space-between
};

.Card {
  background-color: blue;
  height: 450px;
  margin-bottom: 5000px;
}


.Card img {
  height: 300px;
  width: 210px;
  object-fit: cover;
};